<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Families are hard. <span class="text-muted">Yep.</span></h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sagittis feugiat cursus. Aliquam convallis, libero ut efficitur luctus, nunc orci laoreet leo, nec elementum metus augue et metus. Donec non augue diam. Mauris tortor ipsum, euismod commodo odio sed, aliquam pellentesque magna. Donec nulla ligula, efficitur id scelerisque nec, malesuada a sapien. Curabitur tellus orci, imperdiet eu nibh quis, consectetur tempus arcu. Morbi id nisl id sapien aliquet tincidunt. Nullam ut congue nisi, et finibus ante. Quisque lacinia nibh mollis iaculis facilisis. Etiam nec iaculis eros, ut bibendum augue. Nunc ac metus porta, viverra mauris vel, imperdiet ipsum. Suspendisse tristique lectus ut tempor molestie. Quisque tempus eros rhoncus accumsan fringilla. Nam et vehicula arcu.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="/images/stock/01.jpg" alt="Family dynamics">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">How LifeLinks Helps. <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">Suspendisse scelerisque mattis consequat. Donec eget dolor velit. Sed consequat nisi ac lacus pellentesque dignissim in et quam. In blandit lorem ac ipsum tempor imperdiet. Ut dignissim enim ac risus varius, id volutpat sem varius. Sed non enim sit amet libero sodales condimentum. Phasellus vulputate lobortis hendrerit. Suspendisse mattis, augue vitae ullamcorper accumsan, ligula sapien luctus turpis, ac consequat magna arcu dictum libero. Nullam in ante quam. Ut at tempor neque.</p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="featurette-image img-responsive center-block" src="/images/stock/02.jpg" alt="Family dynamics">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" src="/images/stock/03.jpg" alt="Family dynamics">
  </div>
</div>
