    <div ng-show="!assessmentOver" class="form-group half">
        <h3 id="question"> {{ question }} </h3>
        <div ng-show="!lastQuestion">

            <div class="form-group">
            <select name="repeatSelect" id="repeatSelect" ng-model="actualAnswer" class="form-control">
                <option ng-repeat="option in options" value="{{ $index }}">{{option}}</option>
            </select>
            </div>

       </div>
       <div ng-show="lastQuestion">
           <label>City </label>
           <input class="form-control" type="text" ng-model="location.city" name="city"><br>
           <label>State </label>
           <input class="form-control" type="text" ng-model="location.state" name="state"><br>
       </div>

        <div ng-show="!isAnswered">
            <span> {{ errorMessage }} </span>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="nextQuestion()">Next</button>
    </div>



