/* line 1, ../scss/assessment.scss */
.modal-header {
  font-family: 'Allerta', Georgia, Times, serif;
  font-size: 0.9em;
  border-bottom: 0;
}

/* line 7, ../scss/assessment.scss */
#modalAssessment {
  z-index: 10001;
}
/* line 11, ../scss/assessment.scss */
#modalAssessment .modal-dialog {
  width: 90%;
}
/* line 15, ../scss/assessment.scss */
#modalAssessment .intro {
  text-align: left;
  font-size: 0.9em;
}
/* line 20, ../scss/assessment.scss */
#modalAssessment .progress {
  margin-top: 10px;
}
/* line 24, ../scss/assessment.scss */
#modalAssessment .actions {
  margin-top: 3em;
  margin-bottom: 3em;
}
/* line 27, ../scss/assessment.scss */
#modalAssessment .actions button {
  font-size: 0.9em;
  width: 100%;
  min-height: 10em;
  margin-right: 20px;
  white-space: normal;
}
/* line 33, ../scss/assessment.scss */
#modalAssessment .actions button i {
  display: block;
  font-size: 4em;
}
/* line 39, ../scss/assessment.scss */
#modalAssessment .actions .captions {
  margin-top: 1em;
  font-weight: 200;
  font-size: 1em;
}
/* line 44, ../scss/assessment.scss */
#modalAssessment .actions .captions :first-child {
  text-align: left;
  float: left;
}
/* line 48, ../scss/assessment.scss */
#modalAssessment .actions .captions :nth-child(2) {
  text-align: right;
  float: right;
}
/* line 55, ../scss/assessment.scss */
#modalAssessment .step {
  margin-top: 1em;
}
/* line 58, ../scss/assessment.scss */
#modalAssessment .step p {
  font-size: 2em;
}
/* line 62, ../scss/assessment.scss */
#modalAssessment .step p.muted {
  font-size: 1.5em;
  color: #5a5a5a;
}
/* line 68, ../scss/assessment.scss */
#modalAssessment .step ul li {
  list-style-type: none;
  font-size: 1.5em;
}
/* line 76, ../scss/assessment.scss */
#modalAssessment .form-control.error {
  border-color: #ff5e5e;
}
