a,
a:focus,
a:hover {
    color: #5096D2;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
}

html,
body {
    height: 100%;
    background-color: #f7f7f7;
}

body {
    color: #333;
    text-align: center;
    font-size: 14px;
}

section {
    min-height: 450px;
    padding-top: 35px;
    padding-bottom: 35px;
}
/* line 44, ../scss/splash.scss */
section#carousel {
    background-color: #efefef;
    padding: 0px;
}

.half {
    width: 50%;
    margin: auto;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    /* For at least Firefox */
    background: url("/images/woman-sunset.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
}

.inner {
    padding: 20px;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-brand img {
    width: 250px;
}

.masthead-nav {
    padding-top: 30px;
}

.masthead-nav > li {
    display: inline-block;
    color: #5096D2;
    border-bottom-color: #a3a3a3;
}

.masthead-nav > li.active {
    border-bottom: 2px solid #d3d3d3;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #5096D2;
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #f0f0f0;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

@media (min-width: 768px) {

    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }
}

.cover {
    padding: 0 20px;
}

.cover.btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
.site-wrapper-inner {
    vertical-align: middle;
}


#subnav {
    color: blue;
    background-color: #BFA060;
    -moz-box-shadow: #1b1b1b 1px 1px 1px;
    -webkit-box-shadow: #1b1b1b 1px 1px 1px;
    box-shadow: #1b1b1b 1px 1px 1px;
    z-index: 10000;
    top: -50px;
    width: 100%;
}

#subnav .active {
    border-bottom: 1px solid #efefef;
}

#subnav img {
    width: 150px;
}
#subnav.affix-top {
    border-bottom: 1px solid #1b1b1b;
}

#subnav.affix {
    display: block;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.masthead {
    top: 0;
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    .masthead {
        padding: 0px 20px 0px 20px;
    }

    .cover-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .cover-container {
        width: 785px;
    }
}
