
/* line 16, ../scss/items.scss */
section h2 {
  font-family: 'Allerta', Georgia, Times, serif;
}

/* line 21, ../scss/items.scss */
.ll-item img {
  width: 100%;
  max-height: 209px;
  -moz-box-shadow: #a1a1a1 2px 2px 6px;
  -webkit-box-shadow: #a1a1a1 2px 2px 6px;
  box-shadow: #a1a1a1 2px 2px 6px;
}
/* line 27, ../scss/items.scss */
.ll-item .lead {
  font-size: 18px;
  font-weight: 400;
  margin-top: 1em;
}
/* line 32, ../scss/items.scss */
.ll-item .lead a {
  color: #3b3b3b;
}
/* line 37, ../scss/items.scss */
.ll-item .summary {
  font-size: 13px;
  font-weight: 200;
}

/* line 44, ../scss/items.scss */
#carousel img {
  height: 400px;
  margin: auto;
}

/* line 50, ../scss/items.scss */
.social-icons {
  font-size: 4em;
  margin-top: 1em;
  text-align: center;
}
