<div class="container marketing">
   <hr class="featurette-divider">

    <div class="row social-icons">
        <a href="mailto:info@life-links.org?Subject=Hello" target="_blank"><i class="fa fa-envelope-square"></i></a>
        <a href="https://www.facebook.com/LifeLinksGCM" target="_blank"><i class="fa fa-facebook-square"></i></a>
        <a href="https://twitter.com/LifeLinksGCM" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </div>

    <footer>
        <p>&copy; 2015 LifeLinks &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>
