
<h3>Life Links Personal Assessment</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis a ante sit amet interdum. Cras congue mattis lacus, ornare euismod ante tempor in. Cras id dolor vitae lacus vehicula sodales. Curabitur vitae nunc aliquet, pulvinar leo et, convallis tellus. Mauris imperdiet laoreet arcu, in posuere ligula egestas nec.</p>
<div  data-ng-controller="UserCtrl as vm">
    <form name="user" class="form-horizontal half" role="form">
        <div class="controls-row row">
            <div class="form-group has-success">

                <label >First Name</label>

                <input class="form-control" type="text" placeholder="First Name" name="firstName" ng-model="userSignUp.firstName" required/>

                <div role="alert" class="form-group has-error">
			      <span class="help-block" ng-show="user.firstName.$error.required">
			        Required!</span>
                </div>

            </div>
            <div class="form-group has-success">

                <label>Last Name</label>

                     <input class="form-control" type="text" placeholder="Last Name" name="lastName" ng-model="vm.userSignUp.lastName" required/>

                <div role="alert" class="form-group has-error">
			      <span class="help-block" ng-show="user.lastName.$error.required">
			        Required!</span>
                </div>

            </div>
        </div>

        <div class="form-group has-success">

            <label>Email Address</label>

            <input class="form-control" type="email" placeholder="Email" name="email"  ng-model="vm.userSignUp.email" required/>

            <div role="alert" class="form-group has-error">
			      <span class="help-block" ng-show="user.email.$error.required">
			        Required!</span>
			      <span class="help-block" ng-show="user.email.$error.email">
			        Not valid email!</span>
            </div>
        </div>

        <div class="form-group has-success">
            <label>Confirm Email</label>

            <input class="form-control" type="email" placeholder="Confirm Email" name="emailConfirm" match="vm.userSignUp.email" ng-model="emailConfirm.text" required/>

            <div role="alert" class="form-group has-error">
			      <span class="help-block" ng-show="user.emailConfirm.$error.required">
			        Required!</span>
			      <span class="help-block" ng-show="user.emailConfirm.$error.match">
			       Email does not match!</span>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg" ng-click="vm.signUp()" ng-disabled="
  			    user.firstName.$error.required ||
  			    user.lastName.$error.required ||
  			    user.email.$error.required ||
  			    user.email.$error.email ||
  			    user.emailConfirm.$error.required ||
  			    user.emailConfirm.$error.match">
            Begin Assessment
        </button>
    </form>


</div>

